{{ define "main" }}
    {{- $paginator := partial "helper/paginator.html" . -}}

    {{ partial "featured-on" . }}

    <section class="article-list">
        {{ range $index, $element := $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{ partial "ads/hrf" (dict "size" "468x60") }}

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}